* {
  margin: 0;
  padding: 0;
}
.App {
  position: relative;
  max-width: 1500px;
  margin: auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.page {
  padding-top: 100px;
  padding: 100px 35px 20px;
  height: calc(100% - 120px);
  overflow-y: scroll;
}
.navigator {
  position: relative;
  z-index: 999;
  width : 250px;
  background-color: #ffffff;
  height: 100vh;
  float: left;
  padding: 10px 0px 10px 40px;
  box-shadow: 0 3px 5px rgba(19, 45, 30, 0.1);
  box-sizing: border-box;
}
.navigator  .logo  img{
  width: 50%;
}
.navigator  ul li {
  font-size: 14px;
  list-style: none;
  margin-bottom: 20px;
  line-height: 24px;
}
.navigator  ul li img{
  margin-right: 10px;
  margin-bottom: -5px;
}
.content {
  overflow-x: hidden;
  position: relative;
  width: calc(100% - 250px);
  float: right;
  background-color: rgb(242, 242, 242);
  height: 100vh;
  box-sizing: border-box;
}
.activebar ul li{
  position: relative;
  color: #e79e51 !important;
}

.activebar::after {
  position: absolute;
  right: -3px;
  height: 20px;
  content: "";
  padding: 3px;
  border-radius: 5px;
  background-color: #e79e51;
}

@media screen and (max-width : 991px){
  .navigator {
    z-index: 999;
    width : 200px;
    padding: 10px 0px 10px 40px;
  }
  .navigator  .logo  img{
    width: 50%;
  }
  .navigator  ul li {
    font-size: 12px;
    margin-bottom: 15px;
    line-height: 24px;
  }
  .navigator  ul li img{
    margin-right: 10px;
    margin-bottom: -5px;
  }
  .content {
    width: calc(100% - 200px);
  }
}
@media screen and (max-width : 768px){
  .navigator {
    z-index: 999;
    width : 170px;
    padding: 10px 0px 10px 20px;
  }
  .navigator  .logo  img{
    width: 50%;
  }
  .navigator  ul li {
    font-size: 10px;
    margin-bottom: 15px;
    line-height: 20px;
  }
  .navigator  ul li img{
    margin-right: 5px;
    margin-bottom: -5px;
  }
  .content {
    width: calc(100% - 170px);
  }
}
.menu {
  display: none;
}
@media screen and (max-width : 600px){
  .menu {
    display: block;
    z-index: 1000;
    position: fixed;
    top: 55px;
    left: 20px;
  }
  .navigator {
    float: none;
    position: absolute;
    left: 0;
    display: "none";
  }
  .navigator  .logo  img{
    width: 50%;
  }
  .navigator  ul li {
    font-size: 10px;
    margin-bottom: 15px;
    line-height: 20px;
  }
  .navigator  ul li img{
    margin-right: 5px;
    margin-bottom: -5px;
  }
  .content {
    width: calc(100% );
  }
}
