
.visualization {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 50px;
    padding-left: 10px;
}
.visualization > div {
    margin-bottom: 50px;
    overflow: hidden;
    position: relative;
    width:210px;
    height: 170px;
    background-color: #fff;
    box-shadow: 5px 3px 20px rgba(19, 45, 30, 0.3);
    border-radius: 5px;
    font-size: 13px;
}
.visualization .title {
    position: absolute;
    top: 10px;
    left: 12px;
}
.visualization .title h6 {
    font-weight: normal;
    color: #888;
    font-size: 11px;
    margin-bottom:4px;
}
.visualization .title p {
    font-size: 14px;
    font-weight: bold;
}
.sales {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.sales > div {
    width:420px;
    height: 280px;
    background-color: #fff;
    margin-left: 10px;
    padding: 5px;
    box-shadow: 5px 3px 20px rgba(19, 45, 30, 0.3);
    border-radius: 5px;
    font-size: 13px;
    box-sizing: border-box;
    margin-bottom: 50px;
}

.vector-chart {
    padding-top: 20px;
}
#pie-labels-0, #pie-labels-1 {
    display: none;
}
.line {
    width: 131%;
    padding-top: 36px;
    margin-left: -33px;
}
.progresses {
    padding: 20px 20px 0 !important;
}


.progresses .details {
    margin-bottom: 5px;
    margin-top: 17px;
    display: flex;
    justify-content: space-between;
}
.progresses .details p:first-child {
}
.progresses .details p:last-child {
    color: #888;
}
.progress {
    width: 100%;
    height: 5px;
    border-radius: 5px;
    position: relative;
    background-color: rgb(242, 242, 242);
}
.progress-bar {
    height: 100%;
    border-radius: 5px;
    left: 0;
    position: absolute;
    background-color: rgb(71, 145, 255);
}
@media screen and (max-width : 991px){
    .sales > div { 
        height : unset;
        margin: auto;
        margin-bottom: 30px;
        padding-bottom: 20px;
    }
    .visualization > div {
        margin: auto;
        margin-bottom: 50px;
    }
    .visualization div>:first-child() {
        height: auto;
    }
}
